APP_ORIGIN=https://076113.xyz
APP_DATA_DIR=/var/lib/mwblog
BACKUP_ENCRYPTION_KEY=deployment-generates-this-automatically
LOGIN_PASSWORD_HASH='scrypt$CgVOR6AKPxC8GvlxbYfoRw$1SUYK2nVfVxIbOcJH_g3Bt8WQ368hOuZmlsgjufTXHk'
ENABLE_IP_WEATHER=0
